.wp-block-tutoriel-gutenberg-first-block {
    padding: 15px;
    border: 1px solid var(--wp--preset--color--black);
    border-radius: 5px;

    &__text {
        display: block;
        width: max-content;
        transform: var(--rotate, rotate(0deg)); // Permet une rotation dynamique via une variable CSS
    }
}
